
body {
  display: flex;
  align-items: center;
  
  background-color:#fff;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h3{
  color: red;
}
.h6{
  color: red;
}
.dark{
  background-color: #333;
  color: #fff;
}
.container{
  margin-top: 60px;
  margin-left: 420px;
  
}