@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-white text-black ;
    background-image: url("./assets/pattern-background-desktop-light (1).svg");
  }
  .custom-cursor {
    @apply cursor-pointer;
    cursor: url("./assets/hand.svg"), pointer;
  }
  .dark body {
    @apply bg-gray-900 text-white;
    background-image: url("./assets/pattern-background-desktop-dark (1).svg");
  }
  